@import "mixins";
$diameter: 14.5vh;
$radius: $diameter/2;

.slave__circle {
	background-color: #fafafa;
	border-radius: $radius;
	position: absolute;
	height: $diameter;
	width: $diameter;
	@include GBoxShadow(1);
	margin-top: -$radius;
	margin-left: -$radius;
	transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
	z-index: 4;
}
.slave__circle:hover {
	@include GBoxShadow(2);
}
