@import "mixins";

$diameter: 23.5vh;
$radius: $diameter/2;

.master {
	height: 0;
}

.master__circle {
	background-color: #fafafa;
	border-radius: $radius;
	position: absolute;
	height: $diameter;
	width: $diameter;
	margin-top: -$radius;
	margin-left: -$radius;
	@include GBoxShadow(4);
	transition: width 0.2s, height 0.2s, box-shadow 0.2s;
	z-index: 5;
	overflow: hidden;

	img {
		border-radius: $radius;
		display: block;
		max-width: 100%;
		transform: scale(0);
		transition: transform 0.1s;
	}

}