@import "mixins";

.gold-point {
	position: fixed;
	left: 38.195%;
	top: 38.195%;
}

.gold-point:hover {
	right: 38.195%;
	bottom: 38.195%;
}

.gold-point:after {
	display: block;
	content: "";
	position: absolute;
	top: -7.5vw;
	left: -7.5vw;
	z-index: 0;
	right: 0;
	bottom: 0;
}

.gold-point:hover .master__circle {
	@include GBoxShadow(1);
}

.gold-point:hover .slave--right .slave__circle {
	transform: translateX(19vw);
}

.gold-point:hover .slave--bottom .slave__circle {
	transform: translateY(19vw);
}