@import "mixins";
@import "functions";

$outerCircleRadius: 30vw;

.gold-point {
	position: fixed;
	left: 38.195%;
	top: 38.195%;
}

.gold-point:hover {
	right: 38.195%;
	bottom: 38.195%;
}

.gold-point:after {
	display: block;
	content: "";
	position: absolute;
	top: -7.5vw;
	left: -7.5vw;
	z-index: 0;
	right: 0;
	bottom: 0;
}

.gold-point:hover .master__circle {
	@include GBoxShadow(1);
}

.gold-point:hover {
	.slave__circle--1 {
		$angle: -25;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--2 {
		$angle: 10;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--3 {
		$angle: 45;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--4 {
		$angle: 80;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}

	.slave__circle--5 {
		$angle: 115;
		transform: getTransformCoordinates($angle, $outerCircleRadius);
	}
}
